# For loading Google Maps with GET requests
requests~=2.31.0
# A package to translate words from German to English
googletrans==4.0.0-rc1
# Used to create user interface
customtkinter~=5.2.2
# A package that displays maps within tkinter
tkintermapview~=1.29
# Used for displaying images
pillow~=10.2.0
# Used for testing
python-ta~=2.7.0
